<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Validation</title>
  </head>
  <body>
    <form class="" action="/signup" method="post">
      <label for="name">Name:</label><input type="text" name="name" value="">
      <label for="email">Email:</label><input type="email" name="email" value="">
      <label for="date">Date:</label><input type="date" name="dob" value="">
      <label for="position">Position:</label><select class="" name="position">
        <option value=""></option>
        <option value="tech_manager">Technical Manager</option>
        <option value="developer">Developer</option>
        <option value="ui_designer">UI designer</option>
        <option value="graphics_designer">Graphic Designer</option>
      </select>
      <label for="password">Password:</label><input type="password" name="password" value="">
      <input type="submit" name="submit" value="Submit">
    </form>

    {{#results}}
      {{name}}
      {{email}}
      {{dob}}
      {{position}}
      {{password}}
    {{/results}}

  </body>
</html>
